/* header común: fijo, con logo y menú */
.header {
    background: var(--white);
    box-shadow: 0 2px 10px rgb(175, 105, 105);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-menu a:hover, .nav-menu a.active {
    color: var(--secondary-color);
    background: var(--bg-light);
}